body
{
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
}

table
{
    width: 100%;
}
.t_appname
{
    width: 300px;
}
.t_desc
{
    width: auto;
}
.t_starttime,.t_endtime,.t_entrytime
{
    width: 210px;
    text-align: center;
}
.t_actions
{
    width: 150px;
    margin: 0;
    text-align: center;
    padding: 10px;
}
.dwt_button
{
    height: 34px;
    width: 130px;
}
.tv_appname
{
    max-width: 150px;
}
.tv_desc
{
    width: auto;
}
.tv_starttime,.tv_endtime,.tv_entrytime
{
    max-width: 130px;
    text-align: center;
}

tr
{
    width: inherit;
}

th
{
    background-color: #286090;
    color: #fff;
    height: 3em;
    text-align: center;
}
th.t_appname,th.tv_appname {
    border-radius: 3px 0px 0px 3px;
}
th.t_actions {
    border-radius: 0px 5px 3px 0px;
}
th.tv_endtime {
    border-radius: 0px 5px 3px 0px;
}

td.t_desc
{
    padding: 10px;
}
td.t_starttime,td.t_endtime
{
    padding: 5px;
}
td.t_actions
{
    align: center;
}